<template>
  <service>
      <!-- <h1 class="place-self-center">{{ service.title }}</h1> -->
    <nuxt-content :document="service" />
  </service>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const service = await $content('services', params.slug).fetch()
    return { service }
  },
  head() {
    return {
      title: this.service.title,
      meta: [
        { content: this.service.title },
        // other meta
      ],
    }
  },
}
</script>

<style>
h1 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 70px;
  word-spacing: 10px;
}
li {
  list-style: inside;
}
</style>