<template>
  <nav class="fixed w-full bg-white px-8 p-1 shadow-md">
    <div class="-mb-px flex grid grid-cols-2 items-center">
      <div class="justify-self-start w-32 m-2">
        <nuxt-link to="/"
          ><img src="@/assets/resources/lection.png"
        /></nuxt-link>
      </div>
      <div class="justify-self-end flex h-full">
        <ul class="inline-flex h-full">
          <li class="h-full flex items-center font-bold text-md mr-8"><nuxt-link to="/" class="hover:text-green-700 focus:text-green-700 focus:border-green-700 border-b-2 border-white items-center flex h-full">INICIO</nuxt-link></li>
          
		  <div class="dropdown inline-block relative">
            <li class="hover:text-green-700 h-full flex items-center font-bold text-md py-3 mr-8">SERVEIS</li>
				<ul class="dropdown-menu absolute hidden pt-2 bg-gray-300 border-b-4 border-green-700">
				
				<li class="block whitespace-no-wrap font-bold text-xs p-3 my-3 hover:bg-green-700 hover:text-white">
					<nuxt-link to="/services/eficiencia_interna" class="">Eficiència Interna</nuxt-link>
				</li>

				<li class="block whitespace-no-wrap font-bold text-xs p-3 my-3 hover:bg-green-700 hover:text-white">
					<nuxt-link to="/services/control_intern" class="">Control Intern</nuxt-link>
				</li>

				<li class="block whitespace-no-wrap font-bold text-xs p-3 my-3 hover:bg-green-700 hover:text-white">
					<nuxt-link to="/services/control_extern" class="">Control Extern</nuxt-link>
				</li>

				<li class="block whitespace-no-wrap font-bold text-xs p-3 my-3 hover:bg-green-700 hover:text-white">
					<nuxt-link to="/services/control_de_costos" class="">Control de Costos</nuxt-link>
				</li>

				</ul>
          </div>

		  <li class="h-full flex items-center font-bold text-md mr-8"><nuxt-link to="/about" class="hover:text-green-700 focus:text-green-700 focus:border-green-700 border-b-2 border-white items-center flex h-full">QUIENES SOMOS</nuxt-link></li>
		  <li class="h-full flex items-center font-bold text-md mr-0"><nuxt-link to="/contact" class="hover:text-green-700 focus:text-green-700 focus:border-green-700 border-b-2 border-white items-center flex h-full">CONTACTO</nuxt-link></li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  build: {
    assetsPublicPath: "/",
    assetsSubDirectory: "resources",
  },
};
</script>

<style>
.dropdown:hover .dropdown-menu {
  display: block;
}
</style>
