<template>
  <div>
    <Header />
    <div class="pt-16 grid grid-cols-1 bannerFondo bg-blue-700">
      <h1 class="text-white place-self-center">{{ title }}</h1>
    </div>
    <div>
      <Nuxt />
    </div>
  </div>
</template>
<script>
export default {
  head() {
    return {
      changed: (info) => {
        this.title = info.title
        console.log(info, info.title)
      },
    }
  },
  data() {
    return {
      title: '',
    }
  },
}
</script>
<style>
.bannerFondo {
  height: 400px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
