<template>
  <h1>ABOUT PAGE</h1>
</template>

<script>
export default {
  head() {
    return {
      title: 'About',
      meta: [
        {
          hid: 'title',
          property: 'title',
          content: 'About',
        },
        // other meta
      ],
    };
  },
};
</script>

<style>
</style>