<template>
  <h1>Contact page</h1>
</template>

<script>
export default {
  head() {
    return {
      title: 'Contact',
      meta: [
        {
          hid: 'title',
          property: 'title',
          content: 'Contact',
        },
        // other meta
      ],
    };
  },
};
</script>

<style>
</style>