<template>
  <div>
    <div>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-4">
        <div v-for="service of services" :key="service">
          <nuxt-link :to="{ name: 'services-slug', params: { slug: service.slug } }">
            <div class="p-2 sm:p-10 text-center">
              <div class="service--card py-16 max-w-sm rounded overflow-hidden shadow-lg hover:bg-green-700 transition duration-500 bg-white">
                <div class="space-y-10">
                  <i class="fa fa-spa" style="font-size: 48px"></i>
                  <div class="px-6 py-4">
                    <div class="space-y-5">
                        <div class="font-bold text-xl mb-2"> {{ service.title }} </div>
                        <p class="text-gray-700 text-base"> {{ service.description }} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const services = await $content('services', params.slug)
      .only(['title', 'description', 'slug', 'img'])
      .sortBy('createdAt', 'asc')
      .fetch()

    return { services }
  },
}
</script>

<style>

.service--card {
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
}

.service--card:hover {
  color: #fff;
  background-color: #3b8070;
}

</style>